Header {
    width: 100vw;
    height: var(--header-height);
    background-color: rgba(0, 0, 0, 0.274);
    display: flex;
    align-items: center;
    justify-content: center;
}

Header span {
    font-size: 32px;
    font-weight: bold;
}
