<% const runServer=function() { console.log("server running"); } %>

    <!DOCTYPE html>
    <html>

    <head>
        <title>PAJARITOS HAX</title>
    </head>

    <body>
        <h1>PAJARITOS HAX</h1>
        <button onclick=<%=runServer() %>>Iniciar servidor</button>
    </body>

    </html>