<!DOCTYPE html>
<html>

<head>
    <title>PAJARITOS HAX</title>
    <script>
        function startRoom() {
            fetch("http://127.0.0.1:8000/start").then((res) => {
                console.log(res);
            })
        }

        let x = 1 
    </script>
</head>

<body>
    <h1>PAJARITOS HAX</h1>
    <button onClick="startRoom()">Iniciar servidor</button>
</body>

</html>